.board {
  width: 80%;
  background-color: var(--main-color);
  padding: 2rem;
  min-height: 100%;
}

@media screen and (max-width: 1200px) {
  .board {
    padding: 1rem;
  }
}

@media screen and (max-width: 475px) {
  .board {
    overflow-y: scroll;
  }
}
